SQLAlchemy~=2.0.48
greenlet~=3.3.2
fastapi
passlib[bcrypt]
bcrypt==4.0.1
python-multipart~=0.0.22
slowapi
python-magic
python-dotenv
python-jose
psycopg2-binary
uvicorn[standard]
gunicorn
redis
fastapi-cache2[redis]